h1 {
    margin-bottom: 0;
}

.download-container {
    margin: auto;
    text-align: left;
    width: 500px;
    max-width: 90%;
}

.instruction-container {
    margin: auto;
    text-align: left;
    width: 400px;
    max-width: 90%;
}

.instruction-container h2, h3, h4 {
    margin-bottom: 0;
}

/* Download Buttons */

.download-button {
    background-color: #212529;
    border: 2px #212529;
    border-radius: 6px;

    color: #abafcc;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-family: system-ui;
    font-weight: bold;
    margin: 6px 2px;
    transition-duration: 0.25s;
    cursor: pointer;
}

.download-button:hover {
    color: #d0d0d0;
}

/* Pretty tables and lists */

.table-container {
    display: inline-block;
}

table {
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 3px 5px;
    border: 1px solid #212529;
    min-width: 55px;
}

.table-footnote {
    text-align: left;
    margin-top: 2px;
}

ul, ol {
    margin-top: 3px;
    padding-left: 30px;
}

li::marker {
    font-weight: bold;
}