/* Gallery */

.gallery {
    position: relative;
    margin: auto;

    /* For centering the alt text and buttons */
    display : flex;
    align-items : center;
    justify-content: center;

    background-color: #212529;
    box-shadow: 0 0 1px 1px #212529;

    width: 827px;
    height: 515px;
    overflow: hidden;
}

#gallery-image {
    width: 100%;
}

.gallery-text {
    position: absolute;
    padding: 0 6px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 18px;
    bottom: 0;
    background-color: #212529;
}

.gallery-prev, .gallery-next {
    cursor: pointer;
    position: absolute;
    padding: 20px 12px 20px 20px;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.25s;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gallery-prev:hover, .gallery-next:hover {
    color: #ffffff;
    text-shadow: 0 0 6px #aaa;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}