* {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #34373b;
    color: #e0e0e0;
    text-align: center;
}

/* General */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

sup, span {
    color: #bdbdd0;
}

.page-content {
    padding-top: 90px;
}

.page-content a {
    color: #3a8af2;
    text-decoration: none;
}

.page-content a:visited {
    color: #2a7ae2;
}

.page-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Navbar */

nav {
    width: 100%;
    position: fixed;
    background-color: #212529;
    top: 0;
    left: 0;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav a {
    color: #abafcc;
    text-decoration: none;
    padding: 8px;
    transition-duration: 0.25s;
}

nav a:hover {
    color: #d0d0d0;
}

nav a.main-nav {
    color: #e7e7e7;
    font: 22px system-ui;
    padding-right: 15px;
}

nav a.main-nav:hover {
    color: #ffffff;
    text-shadow: 0 0 6px #aaa;
}

nav img {
    display: inline-block;
    vertical-align: top;
}

/* Pretty tables and lists */

.table-container {
    display: inline-block;
}

table {
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 3px 5px;
    border: 1px solid #212529;
    min-width: 55px;
}

.table-footnote {
    text-align: left;
    margin-top: 2px;
}

ul, ol {
    margin-top: 3px;
    padding-left: 30px;
}

li::marker {
    font-weight: bold;
}

pre {
    text-align: left;
}